
@font-face {
    font-family: "Play-Write";
    src: url("/fonts/PlaywriteUSModern-Regular.woff2") format("woff2");
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    margin: 0;
}

header {
    position: relative;
    width: 100%;
    flex: 1;
}

.hero-image {
    width: 25%;
    height: 100vh;
    position:absolute;
    width: 100%;
}

.odin-logo {
    position: absolute;
    /*right: 14%;*/
    top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.479);

}

.odin-logo > img {
    width: 25%;
}

.odin-logo > p {
    color: white;
    font-size: 3rem;
    font-family: "Play-Write", cursive;
}

.main-footer-section {
    flex: 3;
    margin: 70px;
}

