/* === Fonts === */
@font-face {
    font-family: "Play-Write";
    src: url("/fonts/PlaywriteUSModern-Regular.woff2") format("woff2");
}

/* === Base Styles === */
body {
    display: flex;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* === Header / Hero Section === */
header {
    position: relative;
    width: 100%;
    flex: 1;
}

.hero-image {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.odin-logo {
    position: absolute;
    top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.479);
}

.odin-logo > img {
    width: 25%;
}

.odin-logo > p {
    color: white;
    font-size: 3rem;
    font-family: "Play-Write", cursive;
}

/* === Main / Footer Section === */
.main-footer-section {
    display: flex;
    flex-direction: column;
    flex: 3;
    /*margin: 70px;*/
    height: 100vh;
    /*justify-content: space-evenly;*/
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

footer {
    flex: 1;
}

.info-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 239, 239);
    justify-content: center;
    padding: 7% 0 3% 3%;
}

.info-section > p {
    max-width: 55ch;
    font-weight: bold;
    font-size: 1.2rem;
}

.form-section {
    flex: 1;
    padding: 0 5% 5% 5%;
}

form {
    display: flex;
    gap: 50px;
    font-size: 0.85rem;
}

.first-form-group,
.second-form-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    display: block;
}
